* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background: #dddddd70;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form{
    border-radius: 30px;
    width: 350px;
    background: whitesmoke;
    padding: 20px;
}

.form-label, .form-imput{
    display: block;
}

.form-label{
    width: 30%;
}

.form-imput{
    border: 0;
    border-radius: 7px;
    padding: 7px;
    width: 88%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-select{
    border-radius: 7px;
    width: 88%;
    padding: 7px;
    border: 0;
}

.container-flex{
    width: 184px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 74px;
}

.Icontainer-flex{
    width: 184px;
    margin-left: 74px;
}

.radio{
    color:#3e2e6f;
}

.button{
    margin-bottom: 20px;
    margin-left: 33px;
    justify-content: space-around;
    width: 50%;
    background: #3e2e6f;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 1em;
    margin-top: 10px;
    box-shadow: 10px #3e2e6f; 
}